.custom_model_size{
      max-width: 90%;
}


.col-form-label {
    font-size: 13px;
    color:black;
}

.checkbox, .radio {
    font-size: 13px;
    position: relative;
    color:black;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.view_head {
    font-weight: 900;
}
